<div infinite-scroll (scrolled)="onScroll()">
  <ul *ngIf="photos$ | async as photos" class="mdc-image-list image-list">

    <li *ngFor="let photo of photos.results" class="mdc-image-list__item">

      <img class="mdc-image-list__image" src="{{photo.urls.small}}" (click)="openDialog(photo)"/>

      <div class="mdc-image-list__supporting">

        <mat-icon aria-hidden="false"
                  aria-label="star icon"
                  [ngClass]="photo.favorite && 'yellow'"
                  (click)="photo.favorite = !photo.favorite">star</mat-icon>

        <a href="{{'https://unsplash.com/@' + photo.user.username}}" target="_blank">
          <span class="mdc-image-list__label">{{(photo.description || photo.alt_description) | titlecase}} by {{photo.user.name}}</span>
        </a>

      </div>
    </li>
  </ul>
</div>