@use "@material/image-list";
@use "@material/image-list/mdc-image-list";

.image-list {
  @include image-list.standard-columns(5, 15px);
  margin: 17px;

  @media (max-width: 900px) {
    @include image-list.standard-columns(3, 15px);
  }

  a {
    text-decoration: unset;
    color: black;
  }

  img {
     cursor: pointer;
  }

  .mdc-image-list__supporting {
    height: unset;

    .mdc-image-list__label {
      white-space: unset;
    }
  }
}

mat-icon {
  margin-right: 15px;
  cursor: pointer;

  &.yellow {
    color: yellow;
  }
}

